<div id="compareModelsContainer" class="shadow-lg rounded container">
    <h3>Acura MDX Hybrid AWD vs. Acura MDX AWD</h3>
    <div class="row"><img class="compareModelMainImage shadow rounded"
            src="https://i.ytimg.com/vi/2glJi-hMeqM/mqdefault.jpg" alt="MDX Hybrid AWD"></div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="2">MDX Hybrid AWD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fuel Type:</td>
                        <td>Premium</td>
                    </tr>
                    <tr>
                        <td>Fuel Efficency Score:</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>City MPG: UCity:</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>Highway MPG:</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Combined MPG:</td>
                        <td>26.5</td>
                    </tr>
                    <tr>
                        <td>Amount Spent On Gas Per Year:<br><small style="font-size: 0.5em; line-height: 0.7;">Based on
                                the average miles driven per year in America: 13476 Miles</small></td>
                        <td>$1723.91</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-sm table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="2">MDX AWD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fuel Type:</td>
                        <td>Premium</td>
                    </tr>
                    <tr>
                        <td>Fuel Efficency Score:</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>City MPG: UCity:</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>Highway MPG:</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td>Combined MPG:</td>
                        <td>22.5</td>
                    </tr>
                    <tr>
                        <td>Amount Spent On Gas Per Year:<br><small style="font-size: 0.5em; line-height: 0.7;">Based on
                                the average miles driven per year in America: 13476 Miles</small></td>
                        <td>$2030.38</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <p>If you go hybrid you will save <b>$306.47</b> per year</p>
    </div>
</div>